<div class="sidebar">
   <div class="d-flex flex-column side-link">
       <a class="home " data-id="home" href="{% url 'home'%}"><i class="fa-solid fa-house"></i> <span>Home</span></a>
       <a class="news " data-id="news" href="{% url 'concepts' %}"><i class="fa-solid fa-newspaper"></i><span>Concepts</span></a>
       <a class="dashboard " data-id="dashboard" href="{% url 'dashboard' %}"><i class="fa-solid fa-table-columns"></i><span>Dashboard</span></a>
       <a class="courses" data-id="courses" href="{% url 'courses'%}"><i class="fa-solid fa-video"></i><span>Courses</span></a>
       <a class="profile" data-id="profile" href="{% url 'progress'%}"> <i class="fa-solid fa-arrow-up-right-dots"></i> <span>Progress</span></a>
       <a class="roadmaps" data-id="roadmaps" href="{% url 'roadmaps'%}"><i class="fa-solid fa-sitemap"></i><span>Roadmaps</span></a>
   </div> 
   <div class="d-flex flex-column ">
        <div class="sidebar-profile mb-2">
            <div class="sidebar-profile-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="sidebar-profile-content">
                <span class="sidebar-profile-name">{{ user.username }}</span> 
                <span class="sidebar-profile-email">{{ user.email }}</span> 
            </div>
        </div> 
        <div class="sidebar-logout">
            <div class="sidebar-profile-icon">
                <a class="settings" data-id="settings" href="{% url 'logout'%}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
            <div class="sidebar-profile-content">
                <span class="sidebar-profile-name">Logout</span> 
            </div>            
        </div>
   </div>
</div>
<style>



</style>
<script>
    $("a").on('click',function(){
        $("a").removeClass('active')
        sessionStorage.setItem("active_class",$(this).attr("data-id"))
        $(`.${sessionStorage.getItem("active_class")}`).addClass('active')
    })
    if(sessionStorage.getItem("active_class") == null || sessionStorage.getItem("active_class") == "undefined" || sessionStorage.getItem("active_class") == undefined){
        $(".home").addClass('active')
    }else{
        $(`.${sessionStorage.getItem("active_class")}`).addClass('active')
    }
</script>