<div class="sidebar">
    <a class="home" data-id="home" href="{% url 'home'%}"><i class="fa-solid fa-house"></i> <span>Home</span></a>
    <a class="news" data-id="news" href="{% url 'concepts' %}"><i class="fa-solid fa-newspaper"></i><span>Concepts</span></a>
    <a class="dashboard" data-id="dashboard" href="{% url 'dashboard' %}"><i class="fa-solid fa-table-columns"></i><span>Dashboard</span></a>
    <a class="courses" data-id="courses" href="{% url 'courses'%}"><i class="fa-solid fa-video"></i><span>Courses</span></a>
    <a class="profile" data-id="profile" href="{% url 'profile'%}"><i class="fa-solid fa-user"></i><span>Profile</span></a>
    <a class="roadmaps" data-id="roadmaps" href="{% url 'roadmaps'%}"><i class="fa-solid fa-sitemap"></i><span>Roadmaps</span></a>
    <a class="settings" data-id="settings" href="{% url 'settings'%}"><i class="fa-solid fa-gear"></i><span>Settings</span></a>
</div>
<style>



</style>
<script>
    $("a").on('click',function(){
        $("a").removeClass('active')
        sessionStorage.setItem("active_class",$(this).attr("data-id"))
        $(`.${sessionStorage.getItem("active_class")}`).addClass('active')
    })
    if(sessionStorage.getItem("active_class") == null || sessionStorage.getItem("active_class") == ""){
        $(".home").addClass('active')
    }else{
        $(`.${sessionStorage.getItem("active_class")}`).addClass('active')
    }
</script>