{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-left theme-heading my-4">Add New Video</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-theme" title="Add new video">Add Video</button>
            </form>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img width="550px" style="max-height: 366px;" src="https://img.freepik.com/free-vector/concept-image-upload-landing-page_23-2148319404.jpg?t=st=1720451660~exp=1720455260~hmac=c12d9dec99061b9cb6faf4d27daf68ab7b196a9ec39b1158b003cd8b3b3148e4&w=996" alt="Login page vector">
        </div>
    </div>

</div>
<script>
    $(".search-form").hide()
</script>
{% endblock %}

