{% extends 'base.html'%}

{%block content %}
    {% include 'sidebar.html'%}
    <div class="content">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="text-left theme-heading mx-4 mb-4">Exam Performance Dashboard</h3>
                <!-- Chart Container -->
    
                <div id="chart"></div>
            </div>
        </div>
        <div>
            <h3 class="text-left theme-heading mx-4 my-4">Watched Videos</h3>
            <div class="container">
                <div class="row">
                    {% for watched_video in watched_videos %}
                        <div class="col-md-4">
                            <div class="card mb-4 p-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ watched_video.video.title }}</h5>
                                    <p class="card-text">{{ watched_video.video.description }}</p>
                                    <a href="{{ watched_video.video.url }}" target="_blank" class="btn btn-theme" title="Watch Again">Watch Again</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Fetch chart data from Django view
            var chartData = JSON.parse('{{ chart_data|safe }}');  // Parse JSON data
            
            // Prepare ApexCharts configuration
            var options = {
                chart: {
                    type: 'bar',  // Specify the chart type
                    //height: 250,  // Set the chart height (optional)
                    width:"100%"
                },
                series: [{
                    name: 'Exam Scores',
                    data: chartData.exam_scores,
                }],
                xaxis: {
                    categories: chartData.exam_titles,
                },
                colors: ['#7c51fe'] ,
                plotOptions: {
                    bar: {
                        horizontal: false,
                        endingShape: 'rounded',
                    }
                },
            };

            // Render ApexCharts
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });
    </script>

{%endblock %}