{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Exam GEEK - Home Page{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="content">
        <div class="p-1">
            <div class="mb-3 d-flex gap-2" >
                <button class="btn-theme-tab  tab-btn all-btn active" onclick="changeHomeContainer('all')">All</button>
                {% if roadmap %}
                <button class="btn-theme-tab  tab-btn roadmap-btn" onclick="changeHomeContainer('roadmap')">{{roadmap}}</button>
                {% endif %}
                <button class="btn-theme-tab  tab-btn favourite-btn" onclick="changeHomeContainer('favourite')">Favourite</button>
            </div>
            <div class="row all-container ">
                {% for exam in exams %}
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="card exam-card">
                        <div class="card-body">
                            <div class="purple-title">
                                <i data-icon="{{ exam.title.skill|removespaces|lower}}" class="exam-icon "></i>
                                <h5 class="card-title">{{ exam.title.skill }}</h5>
                            </div>
                            <div class="card-content d-flex flex-column justify-content-between">
                                <div>
                                    <h6 class="card-text bold-700 my-0">100 Marks</h6>
                                    <p class="card-text my-0">Test your knowledge in {{ exam.title.skill }}</p>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <a href="{% url 'exam' exam.id %}" class="btn-theme-secondary text-white ">Start Exam</a>
                                    <form action="{% url 'home' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="favourite" value="{{exam.id}}">
                                        <button type="submit" class="fav-form-btn border-none outline-none bg-white" onclick="submitFavForm()">
                                            <span class="bookmark"><i class="fa-solid fa-heart"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row roadmap-container d-none">                
                {% for exam in recommended_exams %}
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="card exam-card">
                        <div class="card-body">
                            <div class="purple-title">
                                <i data-icon="{{ exam.skill|removespaces|lower}}" class="exam-icon "></i>
                                <h5 class="card-title">{{ exam.skill }}</h5>
                            </div>
                            <div class="card-content d-flex flex-column justify-content-between">
                                <div>
                                    <h6 class="card-text bold-700 my-0">100 Marks</h6>
                                    <p class="card-text my-0">Test your knowledge in {{ exam.skill }}</p>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <a href="{% url 'exam' exam.id %}" class="btn-theme-secondary text-white ">Start Exam</a>
                                    <span class="bookmark"><i class="fa-solid fa-heart"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row favourite-container d-none">
                {% for exam in favourite_exams %}
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="card exam-card">
                        <div class="card-body">
                            <div class="purple-title">
                                <i data-icon="{{ exam.skill|removespaces|lower}}" class="exam-icon "></i>
                                <h5 class="card-title">{{ exam }}</h5>
                            </div>
                            <div class="card-content d-flex flex-column justify-content-between">
                                <div>
                                    <h6 class="card-text bold-700 my-0">100 Marks</h6>
                                    <p class="card-text my-0">Test your knowledge in {{ exam.skill }}</p>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <a href="{% url 'exam' exam.id %}" class="btn-theme-secondary text-white ">Start Exam</a>
                                    <span class="bookmark"><i class="fa-solid fa-heart"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="custom-pagination mt-2 d-flex justify-content-end px-3">
            <nav aria-label="...">
                <ul class="pagination pagination-md">
                    <li class="page-item" aria-current="page">
                        <span class="page-link"><a class="pg-element pg-element-{{i}}" href="{% url 'home' %}?page=1">First</a></span>
                    </li>
                    {% for i in total_pages %}
                    <li 
                    class="page-item 
                    {% if i == 1 %} active {% endif %}
                    {% if i == page %} active {% endif %}
                    {% if i == next_page or i == prev_page  or i == page %} d-block {% else %} d-none {% endif %}
                    " aria-current="page">
                        <span class="page-link"><a class="pg-element pg-element-{{i}}" href="{% url 'home' %}?page={{ i }}">{{ i }}</a></span>
                    </li>
                    {% endfor %}
                    <li class="page-item" aria-current="page">
                        <span class="page-link"><a class="pg-element pg-element-{{i}}" href="{% url 'home' %}?page={{total_pages_count}}">Last</a></span>
                    </li>
                </ul>
            </nav>

        </div>
    </div>


    <script>
        // page = "{{page}}"
        // $(`.pg-element`).removeClass('bg-danger')
        // $(`.pg-element`).addClass('d-none')
        // $(`.pg-element-${page - 1}`).removeClass('d-none')
        // $(`.pg-element-${page}`).removeClass('d-none')
        // $(`.pg-element-${page + 1}`).removeClass('d-none')
        // $(`.pg-element-{{page}}`).addClass('bg-danger')
        
        var icons = {
            html:`devicon-html5-plain-wordmark`,
            python:`devicon-python-plain-wordmark`,
            php:`devicon-php-plain`,
            dbms:`devicon-azuresqldatabase-plain`,
            css:`devicon-css3-plain-wordmark`,
            reactjs:`devicon-react-original`,
            angularjs:`devicon-angularjs-plain`,
        }
        ($(".exam-icon").each(function(){
            let key = $(this).attr("data-icon")
            $(this).addClass(icons[key])
        }))

        function changeHomeContainer(x){
            $(".all-container").addClass("d-none")
            $(".roadmap-container").addClass("d-none")
            $(".favourite-container").addClass("d-none")
            $(".all-btn").removeClass("active")
            $(".roadmap-btn").removeClass("active")
            $(".favourite-btn").removeClass("active")
            
            $(`.${x}-container`).removeClass("d-none")
            $(`.${x}-btn`).addClass("active")
        }

        </script>

{% endblock %}