{% extends 'base.html' %}
{% block content %}
    {% include 'sidebar.html'%}
    <style>
        .profile-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .profile-info div {
            flex: 1;
        }
        .edit-btn {
            display: flex;
            justify-content: flex-end;
        }
    </style>

    <div class="content">
        <h2>Profile</h2>
        <div class="profile-info">
            <div id="profile-text">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <!-- Add other profile fields as needed -->
            </div>

        </div>
        <div class="p-2">
            <h3 class="mt-5">Exam Attempts</h3>

            <div class="card-wrapper">
                <div class="row">
                    {% for user_exam in user_exams %}
                    <div class="col-md-3">
                        <div class="card p-2">
                            <div class="card-body">
                                <h3>{{ user_exam.exam.title.skill }}</h3>
                                <h6>Attempt : {{user_exam.attempts}}</h6>
                                <progress id="file" value="{{ user_exam.score }}" title="{{ user_exam.score }} % completed" max="100"> 32% </progress>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="p-2">
            <h3>{{roadmap}}</h3>
            <div class="row">
            {% for user_exam in skillset %}
                <div class="col-md-3 my-2 col-sm-12">
                    <div class="card p-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h3>{{ user_exam }}</h3>
                                <p class="text-nowrap">0%</p>
                            </div>
                            <progress id="file" value="0" max="100"> 32% </progress>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
