{% extends 'base.html'%}
{% block content %}
    <style>
        input{
            border: none !important;
            border-radius: 20px !important;
            box-shadow: 1px 3px 20px 4px rgba(0, 0, 0, 0.2);
            outline: none;
            font-size: 15px;
            padding: 7px 15px;
        }
        body{
            background: white !important;
        }
    </style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h2 class="text-left theme-heading ">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-theme text-white">Register</button>
                    <p class="mt-3"> 
                        Already have account ? <a href="{% url 'login' %}">Login</a>
                    </p>
                </form>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <img width="550px" src="https://img.freepik.com/premium-vector/online-registration-sign-up-with-man-sitting-near-smartphone_268404-95.jpg?w=2000" alt="Login page vector">
            </div>
        </div>

    </div>
    <script>
        $(".search-form").hide()
    </script>

{% endblock %}
