{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}
<style>
    .card{
        box-shadow: 1px 3px 20px 4px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 25px;
    }
</style>
<div class="content">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Tech Job Profiles</h2>
        <div class="row">
            {% for profile in roadmaps %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile }}</h5>
                        <a href="{% url 'roadmap_detail' profile %}" class="btn btn-theme">View Skills</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
