{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}

<div class="content">
    <div class="container roadmap mt-5">
        <h2 class="text-center mb-4">Tech Job Profiles</h2>
        <div class="row">
            {% for profile in roadmapdb %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.roadmap_name }}</h5>
                        <div class="d-flex gap-2 justify-content-between ">
                            <a href="{% url 'roadmap_detail' profile.roadmap_name %}" class="btn btn-theme" class="View the Roadmap">View</a>
                            <button  class="btn btn-theme-secondary start-roadmap" data-roadmap="{{profile.roadmap_name}}" title="Start this Roadmap">Start</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>


    
    $(".start-roadmap").click(function(){
        $.ajax({
            type: 'POST',
            url: '{% url "roadmaps" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'roadmap': $(this).attr("data-roadmap")
            },
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                console.log(response);
            }
        });

        glass_notify(`${$(this).attr("data-roadmap")} Added to Profile`,"&#10003;")

    })

</script>
{% endblock  %}
